/*Apply the font family to the body elements contents*/
body {
    margin: 0;
    font-family: 'Roboto', serif;
}


/* Apply padding above and below a horizontal line */
hr {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* Set the styles of the text input element for the contact us form */
input[type=text] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #009688;
    height: 30px;
    line-height: 30px;
    font-size: 1.2em;
    width: 400px;
}


/* When an input element is focussed do not apply an outline */
input:focus {
    outline: none;
}


/* When a button is hovered over turn the cursor into a hand to show it is a clickable item */
input[type=submit]:hover {
    cursor: pointer;
}


/* Set the styles of the multiline textarea element for the contact us form */
textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #009688;
    font-size: 1.2em;
    resize: none;
    width: 400px;
}


/* When the textarea element is focussed do not apply an outline */

textarea:focus {
    outline: none;
}


/* Make a class that represents the style rules for a button */

.btn {
    padding: 10px 15px;
    border: none;
    background-color: #009688;
    color: #fff;
    font-size: 1.1em;
    border-radius: 5px;
}


/* Create the container element */

.container {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}


/* Set the header element style rules including the background colour for the menu */

header {
    height: 50px;
    background-color: #4527A0;
    display: block;
}


/* Set the details for the mobile menu toggle element */

header .mobile-menu-toggle a {
    margin-left: 25px;
    height: 50px;
    display: inline-block;
}


/* When you hover over a link change the background colour of the element. This creates the hover effect of the menu items */

header .mobile-menu-toggle a:hover,
header .mobile-menu-toggle a:active {
    background-color: #673AB7;
}


/* This updates the font awesome icon library to allow the icon to fit into the bar as expected */

header .mobile-menu-toggle a .fas {
    line-height: 50px;
    width: 50px;
    display: inline-block;
    color: #fff;
    text-align: center;
}


/* Set the navbar as a fixed element at the top of the page */

.navbar-fixed {
    background-color: #4527A0;
    height: 100vh;
    z-index: 1;
    width: 80%;
    padding-top: 1px;
    display: none;
    position: relative;
}


/* Ensure the navbar fills the header area */

.navbar-fixed nav {
    height: 100%;
}


/* Remove the bullet points from the list items so that the list appears more like a menu */

.navbar-fixed nav ul {
    list-style: none;
    padding-left: 0;
}


/* Set a fixed height item for the menu items */

.navbar-fixed nav ul li {
    display: block;
    height: 50px;
    line-height: 50px;
}


/* Set the hover colour for the menu items */

.navbar-fixed nav ul li:hover,
.navbar-fixed nav ul li:active {
    background-color: #673AB7;
}


/* Set the styling for the menu items links */

.navbar-fixed nav ul li a {
    color: #fff;
    display: block;
    line-height: 50px;
    text-decoration: none;
    font-size: 1.2em;
    padding-left: 25px;
}


/* Toggles the menu bar as visible and not on a small device */

.navbar-fixed.active {
    display: block;
}


/* Set the styles that are different for the larger devices. These will be applied to any screen with a width of 840px or more */

@media(min-width: 840px) {
    /* Hide the mobile menu toggle */
    header .mobile-menu-toggle {
        display: none;
    }
    /* Allow the hieght to change to fit the items in */
    .navbar-fixed {
        display: block;
        height: auto;
        width: auto;
    }
    .navbar-fixed nav {
        height: 50px;
        background-color: #4527A0;
    }
    /* Set a margin that spaces the elements out within the menu */
    .navbar-fixed nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-left: 15%;
        margin-right: 15%;
    }
    .navbar-fixed nav ul li {
        float: left;
        padding: 0 10px;
        height: 50px;
    }
    .navbar-fixed nav ul li a {
        padding-left: 0;
    }
    .navbar-fixed nav ul li a .fas {
        line-height: 50px;
    }
}


/* Setting a fixed height and background colour for the footer */

footer {
    height: 50px;
    width: 100%;
    background-color: #4527A0;
    margin-top: 50px;
}


/* Set the text colour of the footer contents */

footer p {
    color: #fff;
    text-align: right;
    padding-right: 25px;
    line-height: 50px;
    margin: 0;
}


/* rules for the team members area of the index page */

.team-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

img {
    object-fit: contain;
    align-self: flex-start;
}

/* Ensure that the team member image doesn't grow too large and distort */

.team-members .team-member img {
    width: 80%;
    object-fit: contain;
}

.team-photo {
    display: flex;
    flex-direction: column;
}


/* Ensure that the team photo doesn't grow too large */

.team-photo img {
    width: 90%;
    object-fit: contain;
}


/* Styles for the team member image widths for a slightly larger screen size */

@media(min-width: 601px) {
    .team-members .team-member img {
        width: 30%;
    }

    .team-members .team-member div:not(.bio) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .team-members .team-member div.bio {
        width: 65%;
    }
}


/* Style for the team page for a larger browser */

@media(min-width: 840px) {
    .team-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .team-photo {
        display: flex;
        width: 60%;
    }
    .team-photo img {
        width: 90%;
    }
    .team-members {
        width: 35%;
        display: flex;
        flex-direction: column;
    }
    .team-members .team-member {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
    }
    .team-members .team-member img {
        width: 30%;
    }
}

table.glossary {
    margin-top: 30px;
}

/* Set the font size for the glossary */
.glossary thead tr th {
    font-size: 1.2em;
    text-align: left;
}

/* Styles for the first table cell of each row */
.glossary thead tr th:first-of-type {
    padding-right: 40px;
}

.glossary tbody tr {
    height: 35px;
}

.container.jobs {
    margin-left: 0;
}

.jobs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.jobs>.column {
    display: flex;
    flex-direction: column;
}

@media(min-width: 840px) {
    .jobs {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
    }

    .jobs>.column {
        display: inline-block;
        width: 30%;
    }
    .jobs>.column>h4 {
        text-align: center;
    }
}


/* A class that can be used to center text */

.text-center {
    text-align: center;
}

.row {
    padding-left: 20px;
    padding-right: 20px;
}